@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
body{
    background-color: rgb(255, 255, 255);
    font-family: "Sedan SC", serif;
}
header{
    background-color: rgb(119, 201, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header ul{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
header nav li{
    margin: 10px;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 5px 0;
    background-color: rgb(182, 182, 182);
}

footer{
    background-color: rgb(119, 201, 255);
    width: 100%; 
    font-size: 20px;
    text-align: center;
}

.caja{
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.caja img{
    border-radius: 30%;
}
.sam{
    color: rgb(55, 0, 255);
}    
